<nb-layout>

  <nb-layout-header fixed>
    台灣即時天氣預報
    <nb-select placeholder="主題樣式" [(ngModel)]="themeMode" (ngModelChange)="changeTheme()">
      <nb-option value="default">淺色</nb-option>
      <nb-option value="dark">深色</nb-option>
    </nb-select>
  </nb-layout-header>

  <!-- <nb-layout-column>
    layout
  </nb-layout-column>
  <nb-layout-column>
    layout
  </nb-layout-column>
  <nb-layout-column>
    layout
  </nb-layout-column>
  <nb-layout-column>
    layout
  </nb-layout-column>
  <nb-layout-column>
    layout
  </nb-layout-column> -->
  <nb-layout-column>
    <div class="row">
      <div class="col-md-12">1</div>
      <div class="col-md-12">1</div>
      <div class="col-md-12">1</div>
      <div class="col-md-12">1</div>
      <div class="col-md-12">1</div>
  
    </div>
  </nb-layout-column>
  

  <nb-layout-footer fixed>
    create by jason zheng <nb-icon icon="github"></nb-icon>
  </nb-layout-footer>

</nb-layout>